*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
/Bssentials/target/
/EssentialsBridge/target/
/groupmanager/target

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/bin/
/classes/

# Outher
.classpath
LastPublicVer.txt
/maven-status/
/maven-archiver/

# Intellij
/.idea/*
/bssentials-parent.iml
/EssentialsBridge/EssentialsBridge.iml
/Bssentials/Bssentials.iml
